@import 'base/bootstrap-reboot.min';

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.container {
    width: 1280px;
    margin: 0 auto;
}

@import 'base/fonts';
@import 'base/variables';
@import 'base/mixins';
@import 'blocks/promo';
@import 'blocks/divider';
@import 'blocks/header';
@import 'blocks/subtitle';
@import 'blocks/title';
@import 'blocks/button';
@import 'blocks/social';
@import 'blocks/down';
@import 'blocks/about-us';
@import 'blocks/text';
@import 'blocks/yellow-square';