.button {
    text-align: center;
    width: 200px;
    height: 60px;
    border-radius: 3px;
    background: none;
    border: 1px solid #FFF;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0 20px;
    transition: 0.3s all;
    @include hover_btn;
    &__wrapper {
        display: flex;
        justify-content: center;
        width: 500px;
        margin: 0 auto;
    }
}