.contact {
    padding: 100px 0;
    &__wrapper {
        grid-column: 1 / 3;
        display: flex;
        padding-top: 20px;
    }
    &__item {
        font-size: 12px;
        line-height: 12px;
        color: #a8a8a8;
        font-weight: 700;
        margin-right: 15px;
        span {
            color: $main;
            margin-right: 4px;
        }
    }
}