.image-wrapper {
    position: relative;
    margin-right: 125px;
    &_left {
        margin-right: 0;
        margin-left: 125px;
    }
    img {
        width: 475px;
        height: 475px;
        object-fit: cover;
    }
}