.menu {
    padding: 100px 0;
    &__content {
        margin-top: 50px;
    }
    &__tab {
        display: grid;  
        grid-template-columns: repeat(auto-fit, 360px);
        justify-content: center;
        gap: 30px 50px;
        animation: slideIn 0.9s;
    }
    &__item {
        display: grid;
        grid-template-columns: 270px 1fr;
        animation: slideIn 0.9s;
        &-name {
            font-family: Banny;
            font-size: 18px;
            line-height: 18px;
            margin-bottom: 0;
        }
        &-descr {
            grid-column: 1 / 2;
            font-size: 12px;
            line-height: 18px;
            color: #a8a8a8;
            margin-bottom: 0;
        }
        &-price {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            font-family: Banny;
            font-size: 18px;
            line-height: 18px;
        }
    }
}