.private {
    position: relative;
    padding: 100px 0;
    background: url(../img/bg/specialtes_bg.jpg) center center /cover no-repeat;
    &__title {
        font-family: Banny;
        font-size: 24px;
        text-transform: uppercase;
    }
    .pic {
        &::before {
            content: '';
            display: block;
            width: 80px;
            height: 475px;
            background: #000;
            position: absolute;
            right: 0;
        }
    }
    .pic2 {
        &::before {
            left: 0;
        }
    }
    &__title {
        position: absolute;
        top: 0;
        right: 0;
        transform: rotate(90deg) translateY(-20px) translateX(70px);
        &_right {
            top: unset;
            bottom: 0;
            right: unset;
            left: 0;
            transform: rotate(-90deg) translateX(130px) translateY(-80px);
        }
    }
}