.subtitle {
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #fff;
    &_top {
        position: absolute;
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
    }
}