.title {
    font-family: Banny;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
    font-weight: bold;
    &_promo {
        font-size: 96px;
        line-height: 126px;
    }
}